*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 300px;
  --mark-size: calc(var(--cell-size) * 0.9);

  --color: #f7ded0;
  --color-set: #feece2;
  --l: 10px;
  --bg-color: #ffbe98;
  --border-color: #f7ded0;
}

body {
  margin: 0;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* --------------- Popup ------------------------- */
.popup-close {
  display: none;
}

.popup-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #feece2;
  font-size: 3rem;
  flex-direction: column;
}

.popup-body label {
  width: 100%;
  margin-bottom: 25px;
  font-size: 2.2rem;
  border: 0px;
  color: #000000;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.popup-body input {
  width: 70%;
  font-size: 2.2rem;
  border: 7px solid #f7ded0;
  color: #000000;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.popup-body input:hover {
  border-color: #ffc8a9;
}

.popup-body button {
  font-size: 2.1rem;
  background-color: #f7ded0;
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.popup-body button:hover {
  background-color: #ffc8a9;
  color: #ffffff;
  border-color: white;
}

/* --------------- Join Game ------------------------- */
.join-game {
  display: flex;
  width: 900px;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  text-align: center;
  color: #feece2;
  font-size: 3rem;
  flex-direction: row;
}

#gameInfo {
  width: 100%;
  margin-bottom: 25px;
  font-size: 2.2rem;
  background-color: #f7ded0;
  border: 0px;
  color: #000000;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  text-align: center;
}

#gameIdInput {
  width: 70%;
  font-size: 2.2rem;
  background-color: #f7ded0;
  border: 5px solid #ffbe98;
  color: #000000;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

#gameIdInput:hover {
  border-color: #ffc8a9;
}

#gameIdInput::placeholder {
  color: #000000;
}

.join-game button {
  width: 30%;
  font-size: 2.1rem;
  background-color: #f7ded0;
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 0.55em 0.9em;
  cursor: pointer;

  transition: 0.2s;
}

.join-game button:hover {
  background-color: #ffc8a9;
  color: #feece2;
  border-color: white;
}

/* --------------- Board ------------------------- */
.board {
  margin: 2.2rem auto;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 5px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: #feece2;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: #f7ded0;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #ffbe98;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(226, 191, 179, 0.9);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #feece2;
  font-size: 6rem;
  flex-direction: column;
}

.winning-message p {
  color: #feece2;
}

.winning-message button {
  margin-top: 4rem;
  font-size: 5rem;
  background-color: rgb(255, 190, 152);
  color: #feece2;
  border: 0px;
  padding: 0.55em 0.9em;
  cursor: pointer;
  transition: 0.2s;
}

.winning-message button:hover {
  background-color: rgb(255, 190, 152);
  color: #000000;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
